

    <div class="card" style="width: 18rem;">
        <img src="@imgURL" class="card-img-top" alt="@PlayerOne.FirstName">
        <div class="card-body">
            <h5 class="card-title">@PlayerOne.FirstName @PlayerOne.LastName</h5>

            <p class="card-text">PPG - @PlayerOne.Ppg</p>
            <p class="card-text">RPG - @PlayerOne.Rpg</p>
            <p class="card-text">APG - @PlayerOne.Apg</p>
            <p class="card-text">BPG - @PlayerOne.Bpg</p>
            <p class="card-text">SPG - @PlayerOne.Spg</p>
            <p class="card-text">Fgp - @PlayerOne.Fgp %</p>

            <p class="card-text">Votes - @PlayerOne.VotesTemp</p>
            <AuthorizeView>
                <Authorized>
                    
                    <a class="btn btn-primary" href="" @onclick="@(() => VotePlayer.InvokeAsync(PlayerOne))">Vote</a>
                </Authorized>
                <NotAuthorized>
                    Log in to vote
                </NotAuthorized>
            </AuthorizeView>
            

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <a class="btn btn-danger" href="">Delete</a>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>

 

@code {
    [Parameter] public PlayerDTO PlayerOne { get; set; }
    //private PlayerDTO PlayerOneDTO { get; set; }
    [Parameter] public EventCallback<PlayerDTO> VotePlayer { get; set; }

    // TODO: fix VotePlayer or auth? Possible also to move here, but at least 1 EventCallback?

    private string imgURL = string.Empty;

    protected override void OnInitialized()
    {
        imgURL = $"https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{PlayerOne.NbaId}.png";
    }
}
